{% for tag in workspace.tags %}
{% if tag.mine %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#D19A66}%{B#1d477d} [ {{tag.name}}  ] %{B-}%{F-}
%{A}
{% elsif tag.visible %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{B#282A36}%{F#D19A66}   {{tag.name}}   %{B-}%{F-}
%{A}
{% elsif tag.busy %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{B#282A36}%{F#f7f7f7}   {{tag.name}}   %{B-}%{F-}
%{A}
{% else tag.visible %}
%{A1:$SCRIPTPATH/change_to_tag {{workspace.index}} {{tag.index}}:}
%{F#546e7a}   {{tag.name}}   %{F-}
%{A}
{% endif %}
{% endfor %}
%{c}
